
.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
.n-left{
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
}
.logo-name{
    font-size: 1.3rem;
    font-weight: bold;
}
.n-right{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}
.menu-list{
 flex: 10;
}
.menu-list>ul{
  display: flex;
 gap: 2rem;
 margin-right: 4rem;
 list-style: none;
 cursor: pointer;
}
.menu-list>ul>li:hover{
     cursor: pointer;
     color: orange;
}
.n-button{
    flex: 2; 
}


/* Menu responsive */
.icon-1{
    height: 22px;
    width: 22px;
    color: blue;
}
.icon-2{
    height: 22px;
    width: 22px;
    color: blue;
}
@media screen and (min-width:700px){
.menu-list-button{
  display: none;
  
}
}
@media screen and (max-width:700px){
    .menu-list-button{
        padding-top:0px;
        position: absolute;
        right: 18px;
        top: 28px;
    }
    .open{
        top: 0px;
    }
    .close{
        top: -400px;
    }
    .menu-list-toggle{
        display: block;
        position: absolute;
  
    }
    .menu-list>ul{
        display: block;
        right: -39px;
        padding-bottom: 2px;
        animation-duration: 3ms;
    }
    .menu-list>ul li{
        top: 10px;
    }
}

@media screen and (max-width:900px){
   
     /* .menu-list-toggle  {
        display: block;
    
    } */

    .n-button{
        display: none;
    }

}