.t-wrapper{
    padding: 0 3rem 0 3rem;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    flex-direction: column;
    gap: 2;
    position: relative;
}
.t-heading{
    align-self: start;
}
.t-heading>*{
    font-size: 2rem;
    font-weight: bold;
  
}
.t-heading span:nth-of-type(2){
 color: orange;
}
.t-heading span{
    margin-bottom: 20px;
}
.t-blur1{
    position: absolute;
    height:14rem ;
    width: 22rem;
    border-radius: 50%;
    background: #edd0ff;
    z-index: -9;
    top:10rem ;
    left:30rem;
    filter: blur(72px);
}
.t-blur2{
    position: absolute;
    height:11rem ;
    width: 21rem;
    border-radius: 50%;
    background: #C1F5FF;
    top: 3rem;
    left: -5rem;
    z-index: -9;
    filter: blur(72px);

}
.testimonial{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonials-carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    width: 40rem;
    height: auto;
    background: rgba(255,255,255, 0.26);
    border: 5px solid rgb(129, 129, 131);
    box-shadow: var(--boxshadow);
    border-radius: 20px;
    text-align: center;
    margin-top: 2rem;
}
.testimonials-carousel img{
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;

}
.testimonials-carousel span{
    color: gray;
}

@media screen and (max-width:700px){  
    .t-wrapper{
        padding: 0;
    }
    .testimonials-carousel{
        width: 25rem;
        height: auto;
    }
    .testimonials-carousel img{
        width: 70px;
        height: 70px;
    }
}
@media screen and (max-width:450px){  
    .testimonials-carousel{
        width: 20rem;
        height: auto;
    }
}