.srevices{
    padding: 0 3rem 0 3rem ;
    display: flex !important;
    height: 90vh;
    margin-bottom: 8rem;
    margin-top: 9rem;
    margin-bottom: 13rem;
}
.awesome{
    display: flex;
    flex-direction: column;
    position: relative;
}
.awesome>:nth-child(1){
    color: var(--black);
    font-size: 2.5rem;
    font-weight:bold ;
}
.awesome>:nth-child(2){
    color: orange;
    font-size: 2.5rem;
    font-weight:bold ;
}
.awesome>:nth-child(3){
    font-size: 18px;
    line-height: 1.5;
    font-weight: 100;
    color: rgb(79, 78, 78);
    margin-top: 10px;
}
.s-button{
    width: 10rem;
    height: 2rem;
    margin-top: 1rem;
    padding-bottom:  2rem !important;
}
.cards{
    position: relative;
}
.cards>*{
    position: absolute;
}
 .purpleDiv2{
    position: absolute;
    height:20rem ;
    width: 20rem;
    border-radius: 50%;
    background: #edd0ff;
    z-index: -9;
    top: -10% !important;
    left: 60%;
    filter: blur(72px);
} 
.blueDiv{
    position: absolute;
    height:11rem ;
    width: 21rem;
    border-radius: 50%;
    background: #c6eff8;
    top:15rem ;
    left:-12rem ;
    z-index: -9;
    filter: blur(72px);
}
@media screen and (max-width:900px){ 
    .srevices{
        margin-top: 0;
        flex-direction: column;
        gap: 5rem;
        height: 66rem;
        padding: 0px !important;       
    }
    .cards{
        right: 5rem;
    }

}

@media screen and (max-width:600px){
    .srevices{
        margin-top: 0;
        flex-direction: column;
        gap: 5rem;
        height: 66rem;
        padding: 0px !important;       
    }
    .cards{
       right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        text-align: center;
        gap: 17rem;
        text-align: center !important;
        padding-left: 0.5rem;
        /* text-align: center; */
    }
    .cards>*{
        position: static;
      
    }
    .cards>:nth-child(1){
        margin-bottom: 5rem;
    }
    .cards>:nth-child(2){
        margin-bottom: 5rem;
    }
    /* .purpleDiv2{
        display: none;
    }
    .blueDiv{
        display: none;
    } */
}